*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: midnightblue;
    background-image: url(img/backdrop.png);
    position: relative;
    background-size: cover;
    background-position: center;
}


header{
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    padding: 10px ;
    justify-content: space-between ;
    align-items: center;
    background-image: linear-gradient(180deg, midnightblue, black ) ;
    opacity: 0.8 ;
    text-decoration: none;

}

nav li{
    display: inline-block;
    list-style: none;
    margin:15px
}

.links{
    font-size: 30px;
}

.text{
    margin-top: 550px;
    margin-left: 490px ;
    height: 90px;  
   position: fixed;
}

.shop{
    background-color: turquoise;
    padding: 10px 15px;
    
    font-weight: bolder;
    color: black;
    border-radius: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    margin-top: 680px;
    margin-left: 780px ;
    border-color: midnightblue;
    text-align: center;   
    cursor: pointer;
    transition: background-color 0.5s;
}
.shop:hover{
    background-color: rgb(163, 250, 241);
}
 

