*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    padding: 10px ;
    justify-content: space-between ;
    align-items: center;
    background-image: linear-gradient(180deg, midnightblue, black ) ;
    opacity: 0.8 ;
    text-decoration: none;
}

nav li{
    display: inline-block;
    list-style: none;
    margin:15px
}

.links{
    font-size: 30px;
}

body{
    background-color: rgb(1, 1, 32);
	
}

.main{
	display: grid;
	grid-template-columns: 50px 50px 50px;
	background-color: midnightblue;
}
.p1{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p2{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p3{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p4{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p5{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p6{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p7{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p8{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p9{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p10{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p11{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}
.p12{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: inline-block;
}



